---
import Navigation from "../Navigation.astro";

import ThemeIcon from "../ThemeIcon.astro";

// Images / Icons
import Logo from "../../assets/vyomarv/logo.svg";
---

<span class="logo">
  <a href="/" aria-label="Main logo of the website">
    <Logo class="main-logo" />
  </a>
</span>

<span class="navigation">
  <Navigation />
</span>

<span class="theme-icon">
  <ThemeIcon />
</span>
