.footer {
  background-color: var(--footer-light-bg);
  color: var(--text-color-dark);
  margin: auto;
  margin-bottom: 1%;
  padding: 5px;
  position: relative;
  height: 50%;
  width: 95%;
  justify-content: center;
  border-radius: 20px;
}

.copyright-line {
  display: flex;
  justify-content: center;
}

.social-icons {
  filter: invert(1);
  max-height: 18px;
  align-items: center;
  text-align: left;
}

.social-links {
  text-decoration: none;
  color: var(--link-dark-color);
}

.get-in-touch {
  list-style-type: none;
}

.contact-links {
  display: flex;
  columns: 2;
  column-gap: 100px;
  margin: auto;
  padding: 50px;
  justify-content: center;
}

/*Dark theme from here*/
.dark .footer {
  background-color: var(--footer-dark-bg);
  color: var(--text-color);
}

.dark .social-icons {
  filter: invert(0);
}

.dark .social-links {
  color: var(--link-light-color);
}
