.welcome {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  width: 90%;
  height: 500px;
  color: var(--text-color-dark);
  border-radius: 25px;
  padding-top: 125px;
  text-align: center;
  margin: 25px auto;
  padding: 10px;
}

.welcome-heading {
  font-size: 35px;
}

.jets-badge {
  height: auto;
  width: 250px;
  padding: 10px;
  padding-inline: auto;
  margin: 50px auto;
}

.content {
  text-align: justify;
}

@media screen and (min-width: 1060px) {
  .welcome {
    display: inline-flex;
    columns: 2;
    align-items: center;
    border-radius: 100px;
    text-align: center;
    align-content: center;
    margin: 50px;
  }
  .welcome-heading {
    font-size: 50px;
    width: 60%;
    word-wrap: break-word;
    text-align: center;
  }
  .jets-badge {
    width: 500px;
    margin: 25px auto;
  }
}
