---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
// import { Image } from "astro:assets";
import GlassLogo from "../assets/glass-logo.svg";

const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
  <body>
    <div class="welcome">
      <h1 class="welcome-heading">Hey, this is team JETS</h1>
      <GlassLogo class="jets-badge" />
    </div>
    <div class="content">
      <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ratione
        quo officiis accusamus est excepturi, minima maiores velit illo nostrum
        beatae architecto mollitia, reprehenderit obcaecati minus? Dolorem esse
        facilis veritatis. Sapiente natus repellendus laborum pariatur neque
        eius fugit doloribus, aspernatur iusto blanditiis similique nesciunt
        accusantium autem corrupti assumenda quod quisquam, saepe possimus rem
        aut. Eligendi, magni. Nihil odio provident quod. Alias ipsam, similique
        nobis repellat cumque aperiam quidem debitis odio illum! Aut sequi ea
        natus itaque quasi explicabo non quis eaque, totam quod cum repellendus
        sunt possimus necessitatibus alias? Magnam. Rem, tenetur? Animi cum
        itaque labore facere nisi blanditiis laudantium laborum harum debitis
        dolore fugit corrupti enim autem, ad aperiam quia voluptatum saepe. Aut,
        consequatur? Nihil, quia! Ad, itaque iste! Suscipit temporibus excepturi
        doloribus repellendus veniam tempore fuga libero delectus culpa in,
        maxime voluptates a, quia pariatur itaque maiores possimus
        reprehenderit, incidunt ullam quo similique. Voluptates libero porro
        fugit nesciunt.
        <br />
        Officiis debitis ut aperiam quae ipsum iste deleniti doloremque nihil consequatur,
        minima dolore, dignissimos nisi vitae veritatis ducimus necessitatibus autem
        praesentium voluptatibus voluptatem voluptatum? Dolore nisi numquam omnis
        sit! Quia. Atque obcaecati perferendis laborum esse laudantium? Quis, non
        tempore quo culpa adipisci minus at aut velit dolor unde quidem nemo repellendus
        explicabo deleniti cumque molestias itaque numquam quasi, dolorem nisi. Quae
        deleniti recusandae deserunt neque ad. Maiores dolor quibusdam voluptatem,
        vero nemo eius tempore quis nihil, a laborum nobis quisquam, aperiam obcaecati
        nesciunt ducimus voluptates voluptatibus. Dolorem, necessitatibus blanditiis.
        Itaque. Adipisci autem iste aut doloremque excepturi, possimus ducimus. Eaque,
        exercitationem est culpa nemo, neque sunt temporibus ad cum ea voluptates
        corrupti maiores ut quia illo vero. Ipsam atque laboriosam cumque! Sapiente
        fugiat molestiae consectetur et numquam. Placeat asperiores hic iure, excepturi
        maxime temporibus repellat optio eveniet, molestias eos laborum, explicabo
        alias laudantium architecto aliquam veritatis reiciendis necessitatibus dignissimos
        sint illo. Sapiente tempore cum blanditiis reiciendis distinctio quae explicabo
        est omnis dicta, assumenda deleniti, vero iste consectetur veniam dolorem,
        autem dolores nulla cupiditate? Quis vitae veritatis provident voluptatem
        odit tenetur eum? Molestias et quod numquam architecto commodi corrupti nostrum
        labore minus ad? Quod, quis. Quis, suscipit! At sit obcaecati mollitia culpa
        eos aliquam labore repudiandae consequatur ab? Ex iusto maxime fugit? Fugit,
        magni ratione! Tempora, maxime debitis! Quisquam asperiores repudiandae ea.
        Dolor illum ipsa iure omnis blanditiis at, dignissimos placeat atque culpa
        ipsum deserunt tempore amet recusandae a, laborum voluptate porro. Numquam
        alias fugit nisi delectus.
        <br />
        Officia iure nihil inventore temporibus unde accusantium voluptatibus eius
        consectetur eaque consequatur qui, quia modi totam. Minus ducimus vero explicabo
        est odio expedita, unde magni? Unde, sequi quisquam! Consequuntur praesentium
        reiciendis dicta laboriosam dolore ut neque voluptatem assumenda voluptatum
        modi fuga quo rerum possimus magnam, cupiditate eum itaque odio culpa doloremque
        ipsa nam unde. Temporibus. Magni, asperiores provident velit sed aliquid
        id nemo quia. Laboriosam tempora veritatis voluptas suscipit recusandae odit
        corporis dignissimos aperiam repellat, odio consequatur modi natus accusantium
        architecto in fuga quis aliquam! Deserunt ab veniam doloribus, reprehenderit
        alias impedit harum quis ea, dolorum fuga ex inventore aut asperiores, officiis
        corrupti maiores? Exercitationem repellat aperiam natus ipsum. Amet asperiores
        rem veniam dignissimos ipsa! Ea, at maiores! Inventore ratione eos soluta
        voluptatem accusamus modi libero nihil itaque quisquam! Veritatis magnam,
        sint, ab consequuntur deserunt temporibus, hic eius culpa mollitia voluptates
        fuga consequatur laudantium impedit. Rerum dolore repellendus eveniet, dolor
        blanditiis quasi, nihil odit temporibus odio provident repudiandae sit atque!
        Pariatur quam, sint nemo sequi, commodi vitae quae atque in deleniti dolorum
        eos, cumque expedita. Vitae, modi mollitia. Aut id aliquam ipsum, a architecto
        cupiditate perspiciatis quos ad, voluptates provident iste vitae fuga exercitationem
        perferendis quisquam fugiat ipsa, inventore ullam! Minus labore fugiat eos
        dolore? Neque eligendi, architecto quo harum at dolorum. Eligendi, saepe
        tenetur. Praesentium voluptates natus nulla fugiat sint, dolore aspernatur
        minus libero assumenda perspiciatis ex quis? Error cumque quae autem modi
        at. Maxime nemo recusandae laborum nostrum. Quam perferendis deleniti asperiores
        eligendi perspiciatis? Dicta nihil placeat architecto beatae quis est corporis
        quia? Tempora, debitis facilis earum aperiam ea nisi ut fuga distinctio?
        Molestias tempore est, cupiditate ipsam voluptate repellendus possimus odit
        cumque temporibus quia amet aperiam atque at ducimus libero facere. Consequuntur
        fuga ad aspernatur modi. Reprehenderit, nobis mollitia? Ad, architecto ea.
        Iure ex qui quae maiores odio saepe possimus laborum magnam vitae earum nam
        incidunt, similique exercitationem nihil accusantium aliquid cupiditate quo.
        Ea quae minus nam deserunt optio, esse magni eveniet. Fuga ipsam, dolores
        nisi soluta repellat non nobis dolor deleniti laborum nulla debitis, dicta
        voluptatibus nihil praesentium! Facilis, aperiam voluptatum vero quam incidunt
        ut vel maiores alias magni maxime voluptates. Veritatis vero consequatur
        libero saepe doloribus distinctio fugiat quae porro suscipit. Ab iure quos,
        pariatur totam iusto consequatur voluptatum. Natus ipsam sunt quaerat similique
        laudantium unde veniam! Accusamus, nemo adipisci! Adipisci ducimus temporibus
        voluptates natus cupiditate corporis facilis fugit tempore nemo quasi quos
        sequi, quas animi eos quia iure eligendi fuga cumque atque. Ut id qui doloremque
        aperiam alias? Necessitatibus.
        <br />
        Ratione asperiores eligendi laborum ipsa eius, et tempora quasi vero suscipit
        sequi perspiciatis voluptas officia necessitatibus excepturi. Minus sit eum
        quos voluptates quas repudiandae ex? Quas quia atque modi repudiandae. Quam
        adipisci vero distinctio quibusdam laudantium enim qui molestiae doloribus
        saepe necessitatibus, vitae pariatur fugit exercitationem, natus dicta aliquam
        earum, asperiores temporibus dolorem atque quaerat. Voluptates mollitia dicta
        est magnam. Laborum culpa autem illo quaerat iure! Dolorem nihil porro, inventore,
        esse expedita natus laboriosam atque quos eveniet velit quaerat sunt voluptatibus,
        beatae tenetur. Ex magni corrupti sint ab, error fugit. Quasi laudantium,
        possimus, facilis ipsam ea id tenetur quis eum animi dolores quae natus fugit
        accusamus suscipit dolorum vero rem neque ut mollitia unde, voluptatum sit.
        Dolor mollitia eligendi architecto. Nostrum vitae eum enim amet, quaerat,
        dolores cupiditate voluptates nam placeat ipsam ut quasi quidem numquam suscipit
        optio delectus veniam repudiandae voluptatem deleniti adipisci fugiat nesciunt
        quis mollitia? Similique, adipisci! Pariatur aperiam quae obcaecati iste
        sequi ea unde incidunt, illo in ipsam quaerat aliquid sunt, voluptas dolorem
        enim iure asperiores at! Quae dolorum ea officiis. Corrupti itaque quaerat
        quia provident! Magni, iusto? Quam autem incidunt ab maxime odio enim. Soluta
        nostrum impedit omnis voluptate sit quam, amet voluptatem culpa quia dolores?
        Fugit nesciunt consequatur quia fugiat ex nihil facilis atque? Similique
        illum quibusdam in consequuntur, sunt cupiditate id optio repellat quia earum
        voluptate esse nisi ex. Error dolores, fugit, inventore omnis rem ab sunt,
        ipsam blanditiis accusantium dolore id ipsum? Laudantium tenetur enim fuga
        omnis at quas? Blanditiis eius vero voluptatibus dolorum est magni reprehenderit
        ipsa quis vitae! Molestias alias assumenda ipsa fugiat, soluta hic accusamus
        ipsam et nulla voluptatum! Nam, veniam rerum, neque aspernatur minima cum
        voluptatibus dicta quod fuga commodi laborum. Molestias molestiae magni,
        quia modi suscipit temporibus mollitia ipsam sit asperiores voluptates expedita
        totam corrupti. Incidunt, eligendi. Facilis pariatur explicabo, aliquid aliquam
        placeat deleniti et. Nesciunt exercitationem debitis officia consectetur
        dolorem vero architecto error tempore voluptates labore eum possimus ipsum
        qui, ut perspiciatis ducimus necessitatibus minus vel. Quia laborum et numquam
        nam ducimus nulla reprehenderit ad. Natus fugiat beatae architecto laborum
        deserunt nesciunt dolorem? Eaque perspiciatis modi eius asperiores, excepturi,
        unde culpa fugiat repellendus et beatae temporibus. Cumque harum, officia
        obcaecati aspernatur repellat culpa nihil delectus? Eaque neque excepturi
        quis libero perferendis quos quo. Quia error sequi architecto molestias voluptas
        harum, cum odit temporibus sed quisquam rem. Quam illum enim, cum porro repellat,
        incidunt eius aliquam aspernatur eveniet, facilis recusandae doloribus temporibus.
        Earum, provident dolorum maxime ut, quas, nemo veritatis necessitatibus soluta
        nulla qui dicta ea. Recusandae?
        <br />
        Et necessitatibus dicta hic consequatur. Quaerat veniam iusto nobis et quis
        doloremque maxime magni reprehenderit iure, consectetur officiis ratione
        molestiae sunt recusandae sequi adipisci modi consequatur. Saepe atque voluptas
        distinctio. Officiis ad consequatur sed dolor doloribus animi fugit deleniti
        vel repellat qui aut doloremque eius, voluptatibus ipsa, distinctio aspernatur
        minima corporis. Voluptas doloribus nobis earum sit minima veniam itaque
        nesciunt? Ullam sit sed aliquid quia quam harum dolore minima suscipit tempore
        minus fugit cum obcaecati magni recusandae architecto aut natus praesentium
        deserunt nemo, nihil quaerat ad quo! Amet, repellendus magnam. Accusantium,
        aperiam, suscipit mollitia sit sunt perspiciatis saepe, veritatis nihil est
        maxime laboriosam ullam error? Inventore consequuntur suscipit iure nulla
        praesentium quae deserunt illum vel maiores. Odit praesentium saepe veniam.
        Neque obcaecati ullam alias culpa reprehenderit magnam repellat? Reiciendis
        totam ex facere minima quasi vero, praesentium magni, vitae natus quo, sunt
        dicta? Nihil est, quidem culpa sunt in perspiciatis mollitia? Esse numquam
        alias ab, deleniti ducimus ipsum quas minus cum assumenda, maiores error
        ullam asperiores vitae doloribus nulla enim eveniet eligendi iusto necessitatibus!
        Voluptates totam numquam nam soluta reprehenderit sunt. Sit neque natus,
        quaerat quos libero harum quas iure asperiores laudantium commodi quam aliquam
        ex, minus corporis enim obcaecati mollitia facere. Aspernatur quas cumque
        repellendus quos illo esse consequuntur odit! Placeat veniam nulla reprehenderit!
        Itaque obcaecati doloribus alias placeat. Repellat, nulla nam expedita ducimus
        ratione amet at repellendus quis recusandae ipsum soluta, labore optio quod
        laborum vel necessitatibus praesentium pariatur? Amet neque similique, quisquam
        maxime ex corrupti odio nobis ipsum. Fugit, ipsam. Hic, sequi nihil! Reiciendis
        expedita voluptatum voluptate nisi veritatis dolore nemo similique cum eos,
        nesciunt beatae facilis saepe.
      </p>
    </div>
  </body>
</Layout>
