---
import Layout from "../layouts/Layout.astro";
import ProjectsLink from "../components/ProjectsLink.astro";

import "../styles/projects.css";
const pageTitle = "Our Projects and Participated Contests";
---

<Layout pageTitle={pageTitle}>
  <body>
    <h1>Our Projects</h1>

    <p>SOON (TM)</p>
    <!-- <ProjectsLink
      name="Rocket"
      link="/projects/rocket"
      about="lorem ipsum illum illo"
      img=""
      alt="an image"
    />

    <ProjectsLink
      name="Drone"
      link="/projects/rocket"
      about="lorem ipsum illum illo"
      img="../assets/astro.svg"
      alt="an image"
    />

    <ProjectsLink
      name="Soccer Bot"
      link="/projects/rocket"
      about="lorem ipsum illum illo"
      img="../assets/astro.svg"
      alt="an image"
    />

    <ProjectsLink
      name="R-Create Exhibition"
      link="/projects/rocket"
      about="lorem ipsum illum illo"
      img="../assets/astro.svg"
      alt="an image"
    /> -->

    <!-- Participated Contests and Exhibitions -->

    <hr />
    <h1>Participated Contests and Exhibitions</h1>

    <ProjectsLink
      name="1. REVA Genesis 2023"
      month="November"
      link="/projects/competitions-exhibitions/2023/1-reva-genesis"
      day="4th"
      year="2023"
      position="1st"
      about="Showcased Defense Camouflage Drone at REVA Genesis 2023, hosted by REVA University Independent PU College."
      image_path="../assets/competitions-exhibitions/2023/1-reva-genesis/ikage.jpggg"
      alt="an image"
    />

    <ProjectsLink
      name="2. Boeing Aeromodelling Techfest 2023 IIT Bombay"
      link="/projects/competitions-exhibitions/2023/2-boeing-aeromod"
      day="27th - 29th"
      month="December"
      year="2023"
      about="Participated in Boeing Aeromodelling Techfest 2023 at IIT Bombay, showcasing our designed and built RC plane."
      image_path="../assets/competitions-exhibitions/2023/2-boeing-aeromod/rcplane.jpg"
      alt="an image"
    />

    <ProjectsLink
      name="3. FlightFury 2024 Cognizance IIT Roorkee"
      link="/projects/competitions-exhibitions/2024/3-flightfury"
      day="15th - 19th"
      month="March"
      year="2024"
      about="Participated in FlightFury 2024 at Cognizance, IIT Roorkee, presenting a self-designed and built RC plane in a showcase of aeromodelling excellence."
      image_path="../assets/competitions-exhibitions/2023/2-boeing-aeromod/image.jpggggg"
      alt="an image"
    />

    <ProjectsLink
      name="4. Model Exhibition on Space Technology"
      link="/projects/competitions-exhibitions/2024/4-modelexhibit-nsd"
      day="22nd"
      month="July"
      year="2023"
      position="1st"
      about="Showcased a working mode of the Rocker Bogie Suspension System used in rovers at the Model Exhibition on Space Technology, organized by REVA University"
      image_path="../assets/competitions-exhibitions/2024/4-modelexhibit-nsd/rover.jpg"
      alt="image description"
    />

    <ProjectsLink
      name="5. Hack2Future"
      link="/projects/competitions-exhibitions/2024/5-hack2future"
      day="26th - 27th"
      month="October"
      year="2024"
      position="Top 10 over 200 Teams"
      about="Presented a machine tool vibration analysis project using machine learning at Hack2Future, hosted by IIIT Dharwad"
      image_path="../assets/competitions-exhibitions/2024/5-hack2future/h2f.jpg"
      alt="image description"
    />

    <ProjectsLink
      name="6. REVA Genesis 2024"
      link="/projects/competitions-exhibitions/2024/6-reva-genesis"
      day="9th"
      month="November"
      year="2024"
      position="3rd"
      about="Developed and showcased a Rescue Fixed Wing UAV at REVA Genesis 2024, organized by REVA University Independent PU College"
      image_path="../assets/competitions-exhibitions/2024/6-reva-genesis/rgenesis.jpg"
      alt="image description"
    />

    <ProjectsLink
      name="7. ROBOLYMPICS  2024"
      link="/projects/competitions-exhibitions/2024/7-robolympics"
      day="14th"
      month="December"
      year="2024"
      position="2nd in Robo Soccer, 3rd in Robo Race"
      about="Built and competed with autonomous robots for Robo Soccer and Robo Racer at ROBOLYMPICS 2024, organized by IEEERAS & E-Yantra Society, BMSIT."
      image_path="../assets/competitions-exhibitions/2024/7-robolympics/soccer-bot.jpg"
      alt="image description"
    />

    <ProjectsLink
      name="8. Sky Thrust 2025"
      link="/projects/competitions-exhibitions/2025/8-skythrust"
      day="22nd"
      month="March"
      year="2025"
      position="3rd"
      about="Showcased cutting-edge Military UAV and Missile technology at Sky Thrust 2025, organized by Tinkerers Lab, IIT Hyderabad."
      image_path="../assets/competitions-exhibitions/2025/8-skythrust/sky-thrust.jpg"
      alt="image description"
    />

    <ProjectsLink
      name="9. Aspire-TechXplore 2025"
      link="/projects/competitions-exhibitions/2025/9-aspire"
      day="4th and 5th"
      month="April"
      year="2025"
      about="Participated with an Active Guided Roll Control Missile project at Aspire-TechXplore 2025, organized by IEEE, Goa College of Engineering"
      image_path="../assets/competitions-exhibitions/2025/9-aspire/idk.jpg"
      alt="image description"
    />

    <ProjectsLink
      name="10. R-Create 2025, REVA Project Expo"
      link="/projects/competitions-exhibitions/2025/10-rcreate"
      date="1"
      day="8th"
      month="May"
      year="2025"
      position="2nd"
      about="Presented an Advanced Guided Active Roll Control Missile at R-Create 2025, the REVA Project Expo organized by REVA University."
      image_path="../assets/competitions-exhibitions/2025/10-rcreate/rcreate.png"
      alt="image description"
    />
  </body>
</Layout>

<!-- 

 <ProjectsLink
      name="Template"
      link="/path/to/markdown/page"
      date="" //if date is any value other than "" then this always returns a line of the date with day month and year
      day="xth
      month="Month"
      year="20xx"
      position="" //optional
      about=""
      image_path="../path/to/image.png"
      alt="image description"
      hr="" //put as 0 if you don't need a hr
    />

-->
