---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Resumé";
---

<Layout pageTitle={pageTitle}>
  <h1>
    None Yet become one now fill up this <a
      href="http://forms.google.com/"
      target="_blank"
      rel="noopener noreferrer">google form link</a>
  </h1>
</Layout>
