---
import VyomarvLayout from "../layouts/VyomarvLayout.astro";
import "../styles/index.css";
import { Image } from "astro:assets";
import jetsLogo from "../assets/badge.png";

const pageTitle = "Home";
---

<VyomarvLayout pageTitle={pageTitle}>
  <body>
    <h1></h1>
  </body>
</VyomarvLayout>
