---
import Navigation from "./Navigation.astro";

import ThemeIcon from "./ThemeIcon.astro";

import { Image } from "astro:assets";
import mainBadge from "../assets/badge.png";
---

<span class="logo">
  <a href="/" aria-label="Main logo of the website">
    <Image class="main-logo" src={mainBadge} alt="Site logo" />
  </a>
</span>

<span class="navigation">
  <Navigation />
</span>

<span class="theme-icon">
  <ThemeIcon />
</span>
