.footer {
  background-color: var(--footer-light-bg);
  color: var(--text-color-dark);
  margin: auto;
  margin-bottom: 1%;
  padding: 5px;
  position: relative;
  height: 50%;
  width: 95%;
  text-align: center;
  border-radius: 20px;
}

.social-icons {
  filter: invert(1);
  max-height: 18px;
  align-items: center;
  text-align: center;
}

.social-links {
  text-decoration: none;
  color: var(--link-dark-color);
}

/*Dark theme from here*/
.dark .footer {
  background-color: var(--footer-dark-bg);
  color: var(--text-color);
}

.dark .social-icons {
  filter: invert(0);
}

.dark .social-links {
  color: var(--link-light-color);
}
