@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./header.css";
@import "./footer.css";

:root {
  /*Background Colors*/
  --background: #f3f3f3;
  /* --background-2: #ffffff; */
  --background-dark: #181818;
  /* --background-dark-2: #202631; */

  /*Text and link Colors*/
  --text-color: #333333;
  --text-color-dark: #ffffff;
  --link-light-color: #404040;
  --link-dark-color: #bebebe;

  /*Header Color*/
  --header-light-bg: #00000010;
  --header-dark-bg: #ffffff10;
  --hover-light: #93939382;
  --hover-dark: #00000082;
  --no-hover-light: #ffffff50;
  --no-hover-dark: #00000050;

  /*Footer Color*/
  --footer-light-bg: #101010;
  --footer-dark-bg: #a8a8a8;
}

html {
  position: relative;
  min-height: 100%;
  width: auto;
  height: auto;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);

  background-color: var(--background);
}

body {
  padding: 25px;
  margin: auto;
}

/* Dark mode colors  */
html.dark {
  color: var(--text-color-dark);
  background-color: var(--background-dark);

  /* background-image: linear-gradient(
    to bottom right,
    var(--background-dark-2),
    var(--background-dark)
  ); */
}
