body {
  font-family: "Roboto Mono";
  font-weight: 500;
  font-style: normal;
  background-color: #ffffff;
}

header {
  border-radius: 25px;
  background: #00000050;
  backdrop-filter: blur(90px);
  position: fixed;
  width: 99%;
  height: 75px;
  color: #000000;
  text-decoration: none;
}

.jets-badge {
  height: 500px;
}

.hamburger-menu-button {
  margin-right: 10px;
  padding: 5px;
  margin-top: 7px;
  float: right;
}

a {
  color: #838383;
}

.logo {
  padding-top: 10px;
}

.top-bar {
  width: 25%;
  margin-top: 10px;
  margin-left: 43%;
}

footer {
  font-weight: lighter;
  padding: 50px;
  background: #393939;
  border-radius: 25px;
  color: #ffffff;
}

#no-bullets {
  list-style-type: none;
}

#about:link {
  text-decoration: none;
  color: #ffffff;
}

#about:hover {
  color: #703be2;
  text-decoration: none;
}

a#about:visited {
  color: #e8ff54;
  text-decoration: none;
}

.address {
  display: flex;
  margin-right: 50%;
}

.contact {
  text-decoration: none;
  list-style-type: none;
}

.scrollable-bg-img {
  margin-top: 7%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.greeting {
  display: inline;
}

.text-greet {
  float: right;
  font-size: 75px;
  margin-top: 25%;
}

.footer-down {
  display: flex;
}

.social-container {
  display: flex;
  justify-content: space-between;
}

.social-list {
  justify-content: space-between;
  border-spacing: 5px;
  list-style-type: none;
}
